

#form_place{

    margin-top: 10rem;
}

#login_place{
    
    margin-top: 5rem;

}

#login_title, #signup_title{
    text-align: center;
    margin-top: 5rem;
    font-size: 50px;
    color: rgb(18, 72, 158);

}

#btn-submit{

    background-color: rgb(13, 44, 185);
    color: rgb(173, 218, 179);

}

#signup{

   
    color: rgb(255, 255, 255);
}
#login{

   
    color: rgb(255, 255, 255);
}
#home{

    background-color:rgb(18, 72, 158);
    color: rgb(255, 255, 255);
}
#logout{
    
    align-items: center;
    background-color:rgb(165, 0, 0);
    color: rgb(255, 255, 255);
}

#home_title{
    
    text-align: center;
    font-size: 60px;
    margin-top: 5rem;
    color:rgb(18, 72, 158);

}